Repository 432-Technologies/dessin, pull requests merged in 2024-02, with the labels that each got.

#73 Start working on pdf export with printpdf 0.6
  dessin-macros/src/lib.rs
  dessin-pdf/Cargo.toml
  dessin-pdf/src/lib.rs
  dessin-svg/Cargo.toml
  dessin/Cargo.toml
  dessin/src/shapes/text/font.rs
Labels: A-dessin-pdf

#83 New proc-macro
  README.md
  dessin-macros/src/dessin_macro.rs
  dessin-macros/src/dessin_macro_old.rs
  dessin-macros/src/lib.rs
  dessin-pdf/src/lib.rs
  dessin/src/contrib/anchor.rs
  dessin/src/contrib/circle.rs
  dessin/src/contrib/layout.rs
  dessin/src/contrib/padding.rs
  dessin/src/contrib/polygone.rs
  dessin/src/contrib/rectangle.rs
  dessin/src/contrib/textbox.rs
  dessin/src/contrib/thick_arc.rs
  dessin/src/lib.rs
  dessin/src/shapes.rs
  dessin/src/shapes/dynamic.rs
  dessin/src/shapes/image.rs
  dessin/src/style.rs
  examples/432technologies.rs
  examples/animation.rs
  examples/src/lib.rs
Labels: A-dessin

#84 Fix #71 svg rotation + tweak proc-macro
  README.md
  dessin-image/src/lib.rs
  dessin-macros/src/dessin_macro.rs
  dessin-pdf/src/lib.rs
  dessin-svg/src/lib.rs
  dessin/src/contrib/circle.rs
  dessin/src/contrib/layout.rs
  dessin/src/contrib/padding.rs
  dessin/src/lib.rs
  dessin/src/shapes/dynamic.rs
  dessin/src/shapes/ellipse.rs
  dessin/src/shapes/image.rs
  examples/432technologies.rs
  examples/Cargo.toml
  examples/text_rotation.rs
Labels: A-dessin, A-dessin-svg

#87 Remove trait for dessin svg
  README.md
  dessin-svg/src/lib.rs
  examples/432technologies.rs
  examples/animation.rs
  examples/any_triangle_with_macro.rs
  examples/any_triangle_without_macro.rs
  examples/arc_with_macro.rs
  examples/arc_without_macro.rs
  examples/basque_cross_with_macro.rs
  examples/basque_cross_without_macro.rs
  examples/blue_triangle_with_macro.rs
  examples/blue_triangle_without_macro.rs
  examples/diamond_with_macro.rs
  examples/diamond_without_macro.rs
  examples/green_rectangle_with_macro.rs
  examples/green_rectangle_without_macro.rs
  examples/line_with_macro.rs
  examples/line_without_macro.rs
  examples/optical_effect_with_macro.rs
  examples/optical_effect_without_macro.rs
  examples/orange_octogon_with_macro.rs
  examples/orange_octogon_without_macro.rs
  examples/out/basque_cross.svg
  examples/out/diamond.svg
  examples/out/line.svg
  examples/out/optical_effect.svg
  examples/out/out.svg
  examples/out/text_rotation.png
  examples/out/text_rotation.svg
  examples/red_circle_with_macro.rs
  examples/red_circle_without_macro.rs
  examples/right_angle_triangle_with_macro.rs
  examples/right_angle_triangle_without_macro.rs
  examples/text_rotation.rs
  examples/textbox_with_macro.rs
  examples/textbox_without_macro.rs
  examples/yellow_thick_arc_with_macro.rs
  examples/yellow_thick_arc_without_macro.rs
Labels: A-dessin-svg
